<% provide(:title, "My Dashboard") %>


<% if current_user.access_granted? && current_user.homeintel_access? %>

<div class="breadcrumb"style="background-color: aliceblue ">
  <h2 class="fa fa-dashboard">Dashboard</h2>

  <p class="notice"><%= notice %></p>

</div>

  <% if current_user.admin == true %>
    <div class="breadcrumb"style="background-color: khaki;color: darkred">
      <h5>You have system-admin permissions. </h5>
    </div>
  <% else %>

  <% end %>

  <% if @inflow_fu_count == 0 && @outflow_fu_count == 0 %>
    <div class="breadcrumb"style="background-color: darkgreen;color: white">
      <h5>Great - <%= @inflow_fu_count %> income record(s) and <%= @outflow_fu_count %> expense record(s) to follow-up!</h5>
    </div>
  <% else %>
    <div class="breadcrumb"style="background-color: darkred;color: white">
      <h5>Warning : <%= @inflow_fu_count %> income record(s) and <%= @outflow_fu_count %> expense record(s) to follow-up! Please check all cashflows. </h5>
    </div>
  <% end %>



  <div class="jumbotron" style="background-color: lightgoldenrodyellow">
    <div class="jumbotron" style="background-color: antiquewhite">
      <div class="breadcrumb">
        TYD Inflow Total
      </div>
      <div class="breadcrumb">
        <%= pie_chart Inflow.where(year:Date.today.year).group(:flowtype).sum(:amount) %>
      </div>

    </div>
    <div class="jumbotron" style="background-color: antiquewhite">
      <div class="breadcrumb">
        YTD Inflow Trend
      </div>
      <div class="breadcrumb">
        <%= line_chart Inflow.where(year:Date.today.year).group(:flowtype).group_by_month(:date_posted).sum(:amount) %>
      </div>
    </div>
  </div>


  <div class="jumbotron" style="background-color: lightgoldenrodyellow">
    <div class="jumbotron" style="background-color: antiquewhite">
      <div class="breadcrumb">
        TYD Outflow Total
      </div>
      <div class="breadcrumb">
        <%= column_chart Outflow.where(year:Date.today.year).group(:flowtype).sum(:amount) %>
      </div>

    </div>
    <div class="jumbotron" style="background-color: antiquewhite">
      <div class="breadcrumb">
        YTD Outflow Trend
      </div>
      <div class="breadcrumb">
        <%= line_chart Outflow.where(year:Date.today.year).group(:flowtype).group_by_month(:date_posted).sum(:amount) %>
      </div>
    </div>
  </div>


  <div class="breadcrumb" style="background-color: cadetblue; color: white">
    Budget | Cashflow | Ledger
  </div>

  <div class="row">
    <div class="col-sm-4">

      <div class="breadcrumb"style="background-color: khaki;color: navy">
        Ledger | <%= @dash_year %> | <%= link_to "Go to Ledgers", ledgers_path, style:'color:darkred' %>
      </div>
      <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Title</th>
            <th>Amount(€)</th>
            <th>Literal</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Annual Total Inflow (€): </td>
            <td>€ <%= @annual_total_inflow %></td>
            <td><%= @annual_total_inflow.humanize %></td>
          </tr>
          <tr>
            <td>Annual Total Outflow (€)</td>
            <td>€ <%= @annual_total_outflow %></td>
            <td><%= @annual_total_outflow.humanize %></td>
          </tr>
          <tr>
            <td>Cashflow Annual Remainder(€)</td>
            <td>€ <%=  @annual_remainder %></td>
            <td><%= @annual_Remainder.humanize %></td>
          </tr>
          <tr>
            <td>Annual Total Budgeted Income (€): </td>
            <td>€ <%= @annual_budgeted_income %></td>
            <td><%= @annual_budgeted_income.humanize %></td>
          </tr>
          <tr>
            <td>Annual Total Budgeted Expenses(€)</td>
            <td>€ <%= @annual_budgeted_expense %></td>
            <td><%= @annual_budgeted_expense.humanize %></td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>

    <div class="col-sm-4">
      <div class="breadcrumb"style="background-color: khaki;color: navy">
        Budget | Month: <%= @dash_month %> | <%= @dash_year %> | <%= link_to "Go to Budgets", budgets_path, style:'color:darkred' %>
      </div>
      <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Title</th>
            <th>Amount(€)</th>
            <th>Literal</th>
          </tr>
          </thead>

          <tbody>
          <tr>
          <tr>
            <td>Monthly Income(€): </td>
            <td>€ <%= @monthly_income %></td>
            <td><%= @monthly_income.humanize %></td>
          </tr>
          <tr>
            <td>Monthly Expenditure(€)</td>
            <td>€ <%= @monthly_expense %></td>
            <td><%= @monthly_expense.humanize %></td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>
    <div class="col-sm-4">
      <div class="breadcrumb"style="background-color: khaki;color: navy">
        Savings | <%= @dash_year %> | <%= link_to "Go to Savings", savings_path, style:'color:darkred' %>
      </div>
      <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Title</th>
            <th>Amount(€)</th>
            <th>Literal</th>
          </tr>
          </thead>

          <tbody>
          <tr>
          <tr>
            <td> Total Lodgement(€): </td>
            <td>€ <%= @annual_lodgement %></td>
            <td><%= @annual_lodgement.humanize %></td>
          </tr>
          <tr>
            <td>Total Withdrawal(€)</td>
            <td>€ <%= @annual_withdrawal %></td>
            <td><%= @annual_withdrawal.humanize %></td>
          </tr>
          <tr>
            <td> Annual Savings Balance(€)</td>
            <td>€ <%= @annual_savings_balance %></td>
            <td><%= @annual_savings_balance.humanize %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="breadcrumb" style="background-color: cadetblue; color: white">
    Loans | Rent | Budgeted Activities
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="breadcrumb"style="background-color: khaki;color: navy">
        Active Loans | <%= @dash_year %>
        <% if current_user.admin == true %>
         | <%= link_to "Go to Repayments", loan_managements_path, style:'color:darkred' %>
          <% end %>
      </div>
      <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Loan Reference</th>
            <th>Owner</th>
            <th>Amount Borrowed(€)</th>
            <th>Outstanding Amount(€)</th>
          </tr>
          </thead>

          <tbody>
          <% @loans.each do |loan| %>
            <tr>
              <td><%= loan.loan_reference %></td>
              <td><%= loan.person.fullname %></td>
              <td><%= loan.amount %></td>
              <td><%= loan.outstanding %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="breadcrumb"style="background-color: khaki;color: navy" >
        Rent | <%= @dash_year %>
        <% if current_user.admin == true %>
         | <%= link_to "Go to Rent Management", rent_managements_path, style:'color:darkred' %>
        <% end %>
      </div>
      <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Collection Date</th>
            <th>Amount</th>
            <th>Annual Total</th>
          </tr>
          </thead>

          <tbody>
          <% @rents.each do |rent| %>
            <tr>
              <td><%= rent.date_collected.strftime("%d, %b  %Y") %></td>
              <td><%= rent.amount %></td>
              <td><%= @rent_total %></td>
            </tr>
          <% end %>
          </tbody>
        </table>


      </div>

    </div>
    <div class="col-sm-4">
      <div class="breadcrumb"style="background-color: khaki;color: navy">
        Activities | <%= @dash_year %> | <%= link_to "Go to Activities", plannedactivities_path , style:'color:darkred' %>
      </div>
      <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Activity Name</th>
            <th>Activity Date</th>
            <th>Activity Cost</th>
          </tr>
          </thead>

          <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td><%= activity.name %></td>
              <td><%= activity.activity_date.strftime("%d, %b  %Y") %></td>
              <td><%= activity.target_amount %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="breadcrumb" style="background-color: cadetblue; color: white">
    Incoming Postal Documents | Outstanding Issues
  </div>
  <div class="breadcrumb" style="background-color: khaki;color: navy">
    Incoming Postal Documents | <%= @dash_year %> | <%= link_to " Go to Deliveries", deliveries_path, style:'color:darkred' %>
  </div>
  <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Received by</th>
        <th>Delivery Date</th>
      </tr>
      </thead>

      <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.post_type.name %></td>
          <td><%= post.description %></td>
          <td><%= post.delivery.person.fullname %></td>
          <td><%= post.delivery.delivery_date.strftime("%d, %b  %Y") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="breadcrumb" style="background-color: khaki;color: navy">
    Outstanding Issues | <%= @dash_year %> | <%= link_to "Go to Issue Management", issue_managements_path, style:'color:darkred' %>
  </div>
  <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title </th>
        <th>Target Completion Date</th>
        <th>Corrective Action Owner</th>
        <th>Issue Title</th>
        <th>Issue Owner</th>

      </tr>
      </thead>

      <tbody>
      <% @corrective_actions.each do |action| %>
        <tr>
          <td><%= action.title %></td>
          <td><%= action.target_completion_date.strftime("%d, %b  %Y") %></td>
          <td><%= action.person.fullname %></td>
          <td><%= action.issue_management.issue_title %></td>
          <td><%= action.issue_management.person.fullname %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="breadcrumb" style="background-color: cadetblue; color: white">
    <%= link_to "Back to Top", dashboard_index_path %>
  </div>

























<% else %>

  <div class="jumbotron" style="background-color: darkred;color: white">
    <p> Your account setup request is being reviewed. Your request will be approved within 24 hours.</p>
  </div>



<% end %>








