
<div class="nested-fields">
  <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :target_completion_date %>
      <%= f.input :actual_completion_date %>
      <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>
      <%= f.input :active %>


      <div class="control-group">
        <div class ="controls">
          <%= f.association :person, collection: Person.order(:fullname),label_method: :fullname, prompt: "Choose a Owner", label:"Issue Owner" %>
        </div>
      </div>
      <br>


    </div>

    <br>
    <div class="breadcrumb" style="background-color: khaki">
      <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>
    </div>


  </div>

</div>

<br>
