<% provide(:title, "View Cash Recons") %>
<p id="notice"><%= notice %></p>

<div class="breadcrumb"style="background-color: darkgreen;color: white">
  <h3>Reconciliation Item</h3>
</div>

<div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">


  <table class="table table-striped"style="color: navy" >
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Cashflow</td>
      <td><%= @cashflow_recon.cashflow.name %> </td>
    </tr>
    <tr>
      <td>User</td>
      <td><%= @cashflow_recon.user.fullname %></td>
    </tr>
    <tr>
      <td>Error details</td>
      <td><%= @cashflow_recon.error_details %></td>
    </tr>
    <tr>
      <td>Reconciliation rationale</td>
      <td><%= @cashflow_recon.reconciliation_rationale %></td>
    </tr>
    <tr>
      <td>Correction amount</td>
      <td><%= @cashflow_recon.correction_amount %></td>
    </tr>
    <tr>
      <td>Authorised by</td>
      <td><%= @cashflow_recon.person.fullname %></td>
    </tr>
    <tr>
      <td>Authorisation date</td>
      <td> <%= @cashflow_recon.authorisation_date.strftime("%d %b. %Y") %></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="breadcrumb"style="background-color: khaki">
  <%= link_to 'Edit', edit_cashflow_recon_path(@cashflow_recon), class:'fa fa-edit' %> |
  <%= link_to 'Back', cashflow_recons_path, class:'fa fa-arrow_left' %>
</div>


