<p id="notice"><%= notice %></p>

<h1>Medical Establishments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Active</th>
      <th>Comments</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_establishments.each do |medical_establishment| %>
      <tr>
        <td><%= medical_establishment.name %></td>
        <td><%= medical_establishment.country %></td>
        <td><%= medical_establishment.active %></td>
        <td><%= medical_establishment.comments %></td>
        <td><%= medical_establishment.location %></td>
        <td><%= link_to 'Show', medical_establishment %></td>
        <td><%= link_to 'Edit', edit_medical_establishment_path(medical_establishment) %></td>
        <td><%= link_to 'Destroy', medical_establishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Establishment', new_medical_establishment_path %>
