

<div class="nested-fields">

<div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">
  <div class="form-inputs">

    <div class="control-group">
      <div class ="controls">
        <%= f.association :employment, collection: Employment.order(:company),label_method: :company, prompt: "Choose a Company", label:"Company" %>
      </div>
    </div>
    <br>

    <%= f.input :referee_name %>
    <%= f.input :referee_telephone %>
    <%= f.input :referee_email %>
    <%= f.input :referee_details %>
    <%= f.input :referee_active %>
    <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id} %>

  </div>

  <div class="breadcrumb"style="background-color: khaki">
    <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>
  </div>

</div>





</div>
