
<%= simple_form_for(@saving_recon) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="jumbotron"style="background-color: lightgoldenrodyellow;color: navy">


    <div class="row">
      <div class="col-sm-4">
        <div class="control-group">
          <div class ="controls">
            <%= f.association :saving, collection: Saving.order(:name),label_method: :name, prompt: "Choose a Savings Record", label:"Savings Records" %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <div class ="controls">
            <%= f.association :person, collection: Person.order(:fullname),label_method: :fullname, prompt: "Choose an Authoriser", label:"Authorised by" %>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-4">
        <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id} %>
        <%= f.input :error_details %>
        <%= f.input :reconciliation_rationale %>
            </div>
      <div class="col-sm-4">
        <%= f.input :correction_amount %>
        <%= f.input :authorisation_date %>
      </div>
    </div>


  </div>
  <br>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
