<% provide(:title, "View Bank Accounts") %>
<p id="notice"><%= notice %></p>



<div class="breadcrumb"style="background-color: darkgreen;color: white">
  <h3><%= @bankaccount.person.fullname %>'s <%=@bankaccount.account_name  %> Details</h3>
</div>


<div class="jumbotron"style="background-color: lightgoldenrodyellow ;color: navy">

  <table class="table table-striped">
    <tbody>
    <tr>
      <td>Ref:</td>
      <td><%=@bankaccount.id  %> </td>
    </tr>
    <tr>
      <td>Account Name:</td>
      <td><%=@bankaccount.account_name  %> </td>
    </tr>
    <tr>
      <td>Financial Institution:</td>
      <td><%=@bankaccount.financialinstitution.name  %> </td>
    </tr>
    <tr>
      <td>Account Number:</td>
      <td><%= @bankaccount.account_number %> </td>
    </tr>
    <tr>
      <td>Sort Code:</td>
      <td><%= @bankaccount.sort_code %> </td>
    </tr>
    <tr>
      <td>Iban:</td>
      <td><%= @bankaccount.iban %> </td>
    </tr>
    <tr>
      <td>Bic:</td>
      <td><%= @bankaccount.bic %> </td>
    </tr>
    <tr>
      <td>Owner:</td>
      <td><%= @bankaccount.person.fullname %> </td>
    </tr>
    <tr>
      <td>Active:</td>
      <td><%= @bankaccount.active.humanize %> </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="breadcrumb" style="background-color: #546aff"></div>

<div class="jumbotron" style="background-color: mistyrose;color: darkred">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Ref</th>
      <th>Bank Account</th>
      <th>Owner </th>
      <th>Card Number</th>
      <th>Expiry Date</th>
      <th>Security Code</th>
      <th>Active</th>
    </tr>
    </thead>

    <tbody>
    <% @bankcards.each do |card| %>
      <tr>
        <td><%= card.id%></td>
        <td data-toggle= "tooltip"  data-placement="top" title="<%= card.note %>">
          <%= card.bankaccount.account_name%>
        </td>
        <td><%= card.person.fullname %></td>
        <td><%= card.card_number %></td>
        <td><%= card.expiry_date.strftime("%d %b. %Y")%></td>
        <td><%= card.security_code %></td>
        <td><%= card.active.humanize %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>



<div class="breadcrumb"style="background-color: khaki">
  <%= link_to 'Edit', edit_bankaccount_path(@bankaccount), class:'fa fa-edit' %> |
  <%= link_to 'Back', bankaccounts_path, class:'fa fa-arrow-left' %>
</div>

