


<div class="nested-fields">
  <div class="jumbotron" style="background-color: mistyrose;color: darkred">
    <div class="row">
      <div class="col-sm-4">
        <div class="control-group">
          <div class ="controls">
            <%= f.association :person, collection: Person.where(:system_item => false).order(:fullname),label_method: :fullname, prompt: "Choose an owner", label:"Owner" %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <div class ="controls">
            <%= f.association :financialinstitution, collection: Financialinstitution.order(:name),label_method: :name, prompt: "Choose an Institution", label:"Institution" %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <div class ="controls">
            <%= f.association :plannedactivity, collection: Plannedactivity.order(:name),label_method: :name, prompt: "Choose a Planned Activity", label:"Planned Activity" %>
          </div>
        </div>
        <br>
      </div>

      <div class="col-sm-8">

        <div class="form-inputs">

          <%= f.input :year %>
          <%= f.input :month %>
          <%= f.input :day %>
          <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>
          <%= f.input :amount ,placeholder:'Amount...'%>
          <%= f.input :details,placeholder:'Details...' %>
        </div>
      </div>
    </div>

    <div class="breadcrumb" style="background-color: khaki">
      <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>
    </div>


  </div>
  </div>




