


<div class="nested-fields">
  <div class="jumbotron" style="background-color: mistyrose;color: #B00100">
        <%= f.input :id, :readonly => true, label: "Expense Ref #" %>
        <div class="control-group">
          <div class ="controls">
            <%= f.association :outflowtype, collection: Outflowtype.where(:system_item => false).order(:name),label_method: :name, prompt: "Choose a flowtype", label:"Type" %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <div class ="controls">
            <%= f.association :person, collection: Person.where(:system_item => false).order(:fullname), label_method: :fullname, prompt: "Choose an owner", label:"Owner" %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <div class ="controls">
            <%= f.association :bankaccount, collection: Bankaccount.where(:active => true).order(:account_code), label_method: :account_code, prompt: "Choose an origin", label:"Origination" %>
          </div>
        </div>
          <br>

      <div class="form-inputs">
          <%= f.input :year,placeholder:'Year...', :readonly => true %>
          <%= f.input :month,placeholder:'Month...', :readonly => true %>
          <%= f.input :date_posted %>
          <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>
          <%= f.input :amount,placeholder:'Amount...' , :readonly => true%>
          <%= f.input :follow_up %>
        <hr>
          <%= f.input :details ,placeholder:'Details...', :readonly => true%>
          <%= f.input :rationale,placeholder:'Add Rationale...' %>
      </div>
      <hr>
    </div>

</div>


  <div class="breadcrumb"style="background-color: khaki">
    <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>
  </div>







