<% provide(:title, "View Cashflow") %>

<p id="notice"><%= notice %></p>
<div class="breadcrumb" style="background-color: rgba(0,176,0,0.62);color: whitesmoke">
  <h3>Monthly Cash-flow: <%= @cashflow.name %></h3>
</div>

<% if @inflow_fu_count == 0 && @outflow_fu_count == 0 %>
  <div class="breadcrumb">
    <h5>Great - <%= @inflow_fu_count %> income record(s) and <%= @outflow_fu_count %> expense record(s) to follow-up!</h5>
  </div>
<% else %>
  <div class="breadcrumb">
    <h5 class="alert-danger">Warning - <%= @inflow_fu_count %> income record(s) and <%= @outflow_fu_count %> expense record(s) to follow-up! </h5>
  </div>
<% end %>

<hr>


<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>A. Cash-flow Details</h4>
</div>


<div>
  <div class="row">
    <div class="col-sm-6">

      <div class="jumbotron">
        <div class="breadcrumb"style="background-color: brown;color: white">
          <h5><strong> Cash-flow Details</strong></h5>
        </div>

        <table class="table table-striped"style="background-color: aliceblue;color: navy" >
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Month</td>
            <td><%= @cashflow.month %> </td>
          </tr>
          <tr>
            <td>Year</td>
            <td><%= @cashflow.year %></td>
          </tr>
          <tr>
            <td>Accounting date</td>
            <td><%= @cashflow.accounting_date.strftime("%d, %b  %Y") %></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><%= @cashflow.name %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="jumbotron">
          <div class="breadcrumb"style="background-color: navy;color: white">
            <h5><strong> Cash-flow Financial Summary</strong></h5>
          </div>
          <table class="table table-striped"style="background-color: aliceblue;color: navy">
            <thead>
            <tr>
              <th>Title</th>
              <th>Amount(€)</th>
              <th>Literal</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>Total Income (€)</td>
              <td>€ <%= @totalinflow %> </td>
              <td><%= @totalinflow.humanize %></td>
            </tr>
            <tr>
              <td>Total Expenses (€)</td>
              <td>€ <%= @totaloutflow %> </td>
              <td><%= @totaloutflow.humanize %></td>
            </tr>
            <tr>
              <td>Cash Injection (€)</td>
              <td>€ <%=@cash_injection%></td>
              <td><%= @cash_injection.humanize %></td>
            </tr>
            <tr>
              <td>Balance (€)</td>
              <% if @balance < @i  %>
                <td style="color: #B00100"> € <%= @balance %></td>
              <% else %>
                <td style="color: green"> € <%= @balance %></td>
              <% end %>
              <td><%= @balance.humanize %></td>
            </tr>
            <tr>
              <td>Balance Planned (€)</td>
              <td>€ <%= @budgets %></td>
              <td><%= @budgets.humanize %></td>
            </tr>
            <tr>
              <td>Monthly Savings Balance (€)</td>
              <td>€ <%= @savings %></td>
              <td><%= @savings.humanize %></td>
            </tr>
            <tr>
              <td>Monthly Reconciliation (€)</td>
              <td>€ <%= @recons %></td>
              <td><%= @recons.humanize %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
<div class="breadcrumb" style="background-color: khaki">
  <% if current_user.admin == true %>
    <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:' fa fa-edit' %> |
  <% end %>
  <%= link_to 'Back', cashflows_path, class:' fa fa-arrow-left' %>
</div>
<hr>

<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>B. Follow-Up Transactions</h4>
</div>


<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        <div class="breadcrumb"style="background-color: brown;color: white">
          <h5><strong> Follow-up Income</strong></h5>
        </div>


        <table class="table table-striped" style="background-color: aliceblue;color: darkgreen">
          <thead>
          <tr>
            <th>Ref</th>
            <th>Date Posted</th>
            <th>Details </th>
            <th>Owner</th>
            <th>Amount(€)</th>
            <th>Follow_up</th>
          </tr>
          </thead>

          <tbody>
          <% @inflow_follow_up.each do |income| %>
            <tr>

              <td ><%= income.id%></td>
              <td><%= income.date_posted.strftime("%d %b. %Y")%></td>

              <td data-toggle= "tooltip"  data-placement="top" title="<%= income.rationale %>">
                <%= income.details %>
              </td>

              <td data-toggle= "tooltip"  data-placement="top"
                  title="Income Type:<%= income.inflowtype.name %> | Credited into: <%= income.bankaccount.account_code %>">
                <%= income.person.fullname %>
              </td>

              <td data-toggle= "tooltip"  data-placement="top"
                  title="Follow-up Required: <%= income.follow_up.humanize %>" >
                <%= income.amount %>
              </td>
              <% if income.follow_up == true %>
                <td class="alert-danger"><%= income.follow_up.humanize %></td>
              <% else %>
                <td><%= income.follow_up.humanize %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="breadcrumb"style="background-color: darkgreen;color: white">
          <%= @message_for_empty1 %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron">
        <div class="breadcrumb"style="background-color: navy;color: white">
          <h5><strong>Follow-up Expenses</strong></h5>
        </div>

        <table class="table table-striped"style="background-color: aliceblue;color: darkred">
          <thead>
          <tr>
            <th>Ref</th>
            <th>Date Posted</th>
            <th>Details </th>
            <th>Owner</th>
            <th>Amount(€)</th>
            <th>Follow_up</th>
          </tr>
          </thead>

          <tbody>
          <% @outflow_follow_up.each do |expense| %>
            <tr>
              <td ><%= expense.id%></td>
              <td><%= expense.date_posted.strftime("%d %b. %Y")%></td>

              <td data-toggle= "tooltip"  data-placement="top" title="<%= expense.rationale %>">
                <%= expense.details %>
              </td>

              <td data-toggle= "tooltip"  data-placement="top"
                  title="Expense Type:<%= expense.outflowtype.name %> | Debited from:<%= expense.bankaccount.account_code %>">
                <%= expense.person.fullname %>
              </td>

              <td data-toggle= "tooltip"  data-placement="top"
                  title="Follow-up Required: <%= expense.follow_up.humanize %>" >
                <%= expense.amount %>
              </td>

              <% if expense.follow_up == true %>
                <td class="alert-danger"><%= expense.follow_up.humanize %></td>
              <% else %>
                <td><%= expense.follow_up.humanize %></td>
              <% end %>

            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="breadcrumb"style="background-color: darkgreen;color: white">
          <%= @message_for_empty2 %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb" style="background-color: khaki">
  <% if current_user.admin == true %>
    <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:' fa fa-edit' %> |
  <% end %>
  <%= link_to 'Back', cashflows_path, class:' fa fa-arrow-left' %>
</div>
<hr>

<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>C. Income and Expenditure</h4>
</div>


<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">

        <div class="breadcrumb"style="background-color: brown;color: white">
          <h5><strong>Income</strong></h5>
        </div>

        <table class="table table-striped" style="color: darkgreen;background-color: aliceblue">
          <thead>
          <tr>
            <th>Ref</th>
            <th>Date Posted</th>
            <th>Details </th>
            <th>Owner</th>
            <th>Amount(€)</th>
          </tr>
          </thead>

          <tbody>
          <% @inflows.each do |income| %>
            <tr>

              <% if income.follow_up == false %>
                  <td ><%= income.id%></td>
                  <td><%= income.date_posted.strftime("%d %b. %Y")%></td>

                  <td data-toggle= "tooltip"  data-placement="top" title="<%= income.rationale %>">
                    <%= income.details %>
                  </td>

                  <td data-toggle= "tooltip"  data-placement="top"
                      title="Income Type:<%= income.inflowtype.name %> | Credited into: <%= income.bankaccount.account_code %>">
                    <%= income.person.fullname %>
                  </td>

                  <td data-toggle= "tooltip"  data-placement="top"
                      title="Follow-up Required: <%= income.follow_up.humanize %>" >
                    <%= income.amount %>
                  </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron">

        <div class="breadcrumb"style="background-color: navy;color: white">
          <h5><strong>Expenses</strong></h5>
        </div>

        <table class="table table-striped" style="color: darkred;background-color: aliceblue">
          <thead>
          <tr>
            <th>Ref</th>
            <th>Date Posted</th>
            <th>Details </th>
            <th>Owner</th>
            <th>Amount(€)</th>
          </tr>
          </thead>

          <tbody>
          <% @outflows.each do |expense| %>
            <tr>
              <% if expense.follow_up == false %>
                <td ><%= expense.id%></td>
                <td><%= expense.date_posted.strftime("%d %b. %Y")%></td>

                <td data-toggle= "tooltip"  data-placement="top" title="<%= expense.rationale %>">
                  <%= expense.details %>
                </td>

                <td data-toggle= "tooltip"  data-placement="top"
                    title="Expense Type:<%= expense.outflowtype.name %> | Debited from:<%= expense.bankaccount.account_code %>">
                  <%= expense.person.fullname %>
                </td>

                <td data-toggle= "tooltip"  data-placement="top"
                title="Follow-up Required: <%= expense.follow_up.humanize %>" >
                  <%= expense.amount %>
                </td>
              <% end %>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb" style="background-color: khaki">
  <% if current_user.admin == true %>
    <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:' fa fa-edit' %> |
  <% end %>
  <%= link_to 'Back', cashflows_path, class:' fa fa-arrow-left' %>
</div>
<hr>

<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>D. Income and Expenditure Classification</h4>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron">
      <div class="breadcrumb"style="background-color: brown;color: white">
        <h5><strong>Income Breakdown</strong></h5>
      </div>

      <table class="table table-striped"style="background-color: aliceblue;color: darkgreen">
        <thead>
        <tr>
          <th>Category</th>
          <th>Amount(€)</th>
          <th>Literal</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Salary</td>
          <td>€  <%= @salary %> </td>
          <td><%= @salary.humanize %></td>
        </tr>
        <tr>
          <td>Child Benefit (€)</td>
          <td>€ <%= @child_benefit %> </td>
          <td><%= @child_benefit.humanize %></td>
        </tr>
        <tr>
          <td>Lotto Winnings(€)</td>
          <td>€ <%=@lotto_winnings%></td>
          <td><%= @lotto_winnings.humanize %></td>
        </tr>
        <tr>
          <td>Other (€)</td>
          <td>€ <%= @others %></td>
          <td><%= @others.humanize %></td>
        </tr>
        <tr>
          <td class="alert-info">Total Income </td>
          <td class="alert-info" >€ <%= @totalinflow %></td>
          <td class="alert-info"><%= @totalinflow.humanize %></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="jumbotron">

      <div class="breadcrumb"style="background-color: navy;color: white">
        <h5><strong>Expenses Breakdown</strong></h5>
      </div>


      <table class="table table-striped"style="background-color: aliceblue;color: darkred">
        <thead>
        <tr>
          <th>Category</th>
          <th>Amount(€)</th>
          <th>Literal</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Rent</td>
          <td>€  <%= @rent %> </td>
          <td><%= @rent.humanize %></td>
        </tr>
        <tr>
          <td>Telecom</td>
          <td>€ <%= @telecom %> </td>
          <td><%= @telecom.humanize %></td>
        </tr>
        <tr>
          <td>eFlow</td>
          <td>€ <%=@eflow%></td>
          <td><%= @eflow.humanize %></td>
        </tr>
        <tr>
          <td>Food</td>
          <td>€ <%= @food %></td>
          <td><%= @food.humanize %></td>
        </tr>
        <tr>
          <td>Electricity</td>
          <td>€ <%= @electricity %></td>
          <td><%= @electricity.humanize %></td>
        </tr>
        <tr>
          <td>Credit Card Fees</td>
          <td>€ <%= @credit_card_fees %></td>
          <td><%= @credit_card_fees.humanize %></td>
        </tr>
        <tr>
          <td>Current Account Fees</td>
          <td>€ <%= @current_account_fees %></td>
          <td><%= @current_account_fees.humanize %></td>
        </tr>
        <tr>
          <td>Allowance - Gaelle</td>
          <td>€ <%= @allowance_gaelle %></td>
          <td><%= @allowance_gaelle.humanize %></td>
        </tr>

        <tr>
          <td>Allowance - Herve</td>
          <td>€ <%= @allowance_herve %></td>
          <td><%= @allowance_herve_account_fees.humanize %></td>
        </tr>
        <tr>
          <td>Loan  - PTSB</td>
          <td>€ <%= @loan_ptsb %></td>
          <td><%= @loan_ptsb.humanize %></td>
        </tr>
        <tr>
          <td>Loan - Chill Money</td>
          <td>€ <%= @loan_chill_money %></td>
          <td><%= @loan_chill_money.humanize %></td>
        </tr>
        <tr>
          <td>Lodgement - Credit Union</td>
          <td>€ <%= @lodgement_credit_union %></td>
          <td><%= @lodgement_credit_union.humanize %></td>
        </tr>
        <tr>
          <td>Family Support</td>
          <td>€ <%= @family_support %></td>
          <td><%= @family_support.humanize %></td>
        </tr>
        <tr>
          <td>Entertainment - Night Out:</td>
          <td>€ <%= @entertainment_nightout %></td>
          <td><%= @entertainment_nightout.humanize %></td>
        </tr>
        <tr>
          <td>Entertainment - Day Out</td>
          <td>€ <%= @entertainment_dayout %></td>
          <td><%= @entertainment_dayout.humanize %></td>
        </tr>
        <tr>
          <td>Apple storage</td>
          <td>€ <%= @apple_storage %></td>
          <td><%= @apple_storage.humanize %></td>
        </tr>
        <tr>
          <td>AA Ireland</td>
          <td>€ <%= @aa_ireland %></td>
          <td><%= @aa_ireland.humanize %></td>
        </tr>
        <tr>
          <td>Lottery Ticket</td>
          <td>€ <%= @lottery_ticket %></td>
          <td><%= @lottery_ticket.humanize %></td>
        </tr>
        <tr>
          <td>Car Tax</td>
          <td>€ <%= @car_tax %></td>
          <td><%= @car_tax.humanize %></td>
        </tr>
        <tr>
          <td>Heating Oil</td>
          <td>€ <%= @heating_oil %></td>
          <td><%= @heating_oil.humanize %></td>
        </tr>
        <tr>
          <td>Car Service</td>
          <td>€ <%= @car_service %></td>
          <td><%= @car_service.humanize %></td>
        </tr>
        <tr>
          <td>Spiritual Tools</td>
          <td>€ <%= @spiritual_tools %></td>
          <td><%= @spiritual_tools.humanize %></td>
        </tr>
        <tr>
          <td>Other</td>
          <td>€ <%= @other_expenses %></td>
          <td><%= @other_expenses.humanize %></td>
        </tr>
        <tr>
          <td>Work Lunch:</td>
          <td>€ <%= @work_lunch %></td>
          <td><%= @work_lunch.humanize %></td>
        </tr>
        <tr>
          <td>Pharmacy</td>
          <td>€ <%= @pharmacy %></td>
          <td><%= @pharmacy.humanize %></td>
        </tr>
        <tr>
          <td>Furniture</td>
          <td>€ <%= @furniture %></td>
          <td><%= @furniture.humanize %></td>
        </tr>
        <tr>
          <td class="alert-info">Total Expenses </td>
          <td class="alert-info" >€ <%= @totaloutflow%></td>
          <td class="alert-info"><%= @totaloutflow.humanize %></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="jumbotron"style="background-color: palegoldenrod">

  <div class="breadcrumb"style="background-color: brown;color: white">
    <h5><strong>Cash-flow Financial Summary</strong></h5>
  </div>

  <table class="table table-striped"style="background-color: aliceblue;color: navy">
    <thead>
    <tr>
      <th>Title</th>
      <th>Amount(€)</th>
      <th>Literal</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Total Income (€)</td>
      <td>€ <%= @totalinflow %> </td>
      <td><%= @totalinflow.humanize %></td>
    </tr>
    <tr>
      <td>Total Expenses (€)</td>
      <td>€ <%= @totaloutflow %> </td>
      <td><%= @totaloutflow.humanize %></td>
    </tr>
    <tr>
      <td>Cash Injection (€)</td>
      <td>€ <%=@cash_injection%></td>
      <td><%= @cash_injection.humanize %></td>
    </tr>
    <tr>
      <td>Balance (€)</td>
      <% if @balance < @i  %>
        <td style="color: #B00100"> € <%= @balance %></td>
      <% else %>
        <td style="color: green"> € <%= @balance %></td>
      <% end %>
      <td><%= @balance.humanize %></td>
    </tr>
    <tr>
      <td>Balance Planned (€)</td>
      <td>€ <%= @budgets %></td>
      <td><%= @budgets.humanize %></td>
    </tr>
    <tr>
      <td>Monthly Savings Balance (€)</td>
      <td>€ <%= @savings %></td>
      <td><%= @savings.humanize %></td>
    </tr>
    <tr>
      <td>Monthly Reconciliation (€)</td>
      <td>€ <%= @recons %></td>
      <td><%= @recons.humanize %></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="breadcrumb" style="background-color: khaki">
  <% if current_user.admin == true %>
  <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:' fa fa-edit' %> |
  <% end %>
  <%= link_to 'Back', cashflows_path, class:' fa fa-arrow-left' %>
</div>
<hr>

<div class="breadcrumb" style="background-color: rgba(22,151,168,0.6); color: whitesmoke">
  <h4>C. Cashflow Comments</h4>
</div>

<div>


  <div>

    <% for comment in @cashflow.comments %>

      <div class="jumbotron" style="background-color: bisque;color: navy">

        <div>
          <strong>Comments:</strong><br><br>
          <textarea rows="4" cols="80" readonly> <%=h comment.commentary %> </textarea>
        </div>
        <br>
        <div>
          Commented on:
          <%=h comment.created_at.strftime("%d %b. %Y") %>
        </div>
        <div>
          ID:
          <%=h comment.id %>
        </div>

      </div>
    <% end %>

  </div>

</div>



<br>
<div class="breadcrumb" style="background-color: khaki">
  <% if current_user.admin == true %>
    <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:' fa fa-edit' %> |
  <% end %>
  <%= link_to 'Back', cashflows_path, class:' fa fa-arrow-left' %>
</div>
<hr>


<div class="breadcrumb"style="background-color: rgba(0,176,0,0.62);color: whitesmoke">
  <div>
    Created on:
    <%=h @cashflow.created_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Updated on:
    <%=h @cashflow.updated_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Cashflow Number:
    CN - <%=h @cashflow_number %>
  </div>
  <br>
</div>
